h1{
    border: solid papayawhip;
    background-color: purple;
    border-radius: 250px;
    border top: left: border-radius: 00px;;
    border bottom :right radius: 0 px
}

p{
 font-size: xx-large;
font-style: italic;
color: rgb(6, 29, 99);
background-color: rgb(0, 0, 0);
border-top:solid sienna none ;
border right: width: 100px ;
}

h2{
    height: 250px;
    width: 350px;
 
    background-color: rgb(96, 75, 231);
    border-radius: 50px;
   
}

.first{
    font-size: 25px;
    color: rgb(153, 17, 44);
    border: 30px solid goldenrod;
}



